:root {
    --white: rgb(247 247 247);
    --primary: #202020;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    color: var(--white);
    background-color: var(--primary);
    font-size: 22px;
    font-family: "Segoe UI", system-ui, sans-serif;
    overflow-x: hidden;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4vw 10vw;
}

/*
    Form
*/
.pre_form {
    width: 100%;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 80%;
}

input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
input::placeholder {
  color: transparent;
}
input:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, coral, orange);
  border-image-slice: 1;
}
input:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: coral;
  font-weight: 700;
}

/* reset input */
input:required, input:invalid {
    box-shadow: none;
}
/*
    Weather
*/
.weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
}
.weather img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.weather__content {
    display: flex;
    flex-direction: column;
}
.weather__content h2 {
    margin-bottom: 6px;
    color: coral;
}

::selection {
    background-color: coral;
    color: var(--primary);
}

.last__search {
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 80%;
    display: flex;
    justify-content: start;
}
.last__search button {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 6px;
    font-size: 20px;
    padding: 2px 4px;
    margin-left: 10px;
    transition: all .3s linear;
}
.last__search button:hover {
    cursor: pointer;
    border-image: linear-gradient(to right, coral, orange);
    border-image-slice: 1;
    color: coral;
}
